[audio]
#0-255 volume
music_volume = 87
#0-255 volume
sfx_volume = 128

[gameplay]
#0 always, 1 only when damaged, 2 never
life_bar = 1
#0 black bar, 1 black border
life_bar_style = 0
#0 very slow, 1 slow, 2 normal, 3 fast, 4 very fast
game_speed = 2

[ui]
#0 spanish, 1 english
language = 0
