[audio]
#0-255 volume
music_volume = 87
#0-255 volume
sfx_volume = 128

[gameplay]
#0 always, 1 only when damaged, 2 never
life_bar = 1
#0 black bar, 1 black border
life_bar_style = 0

[ui]
#0 spanish, 1 english
language = 0
